<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BDDConectionStrings"
        connectionString="Data Source=localhost;Initial Catalog=DBcubestore;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener1" type="System.Diagnostics.TextWriterTraceListener" initializeData="../../../logActividades.log"/>
        <add name="myListener2" type="System.Diagnostics.TextWriterTraceListener" initializeData="../../../logErrores.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>